roles/docker-compose_add/files/service_conf/mail/nginx/static/*.css linguist-detectable=false
roles/docker-compose_add/files/service_conf/mail/nginx/static/*.png linguist-detectable=false
roles/docker-compose_add/files/service_conf/mail/nginx/static/*.xml linguist-detectable=false
roles/docker-compose_add/files/service_conf/mail/nginx/static/*.ico linguist-detectable=false
roles/docker-compose_add/files/service_conf/mail/nginx/static/*.svg linguist-detectable=false
roles/docker-compose_add/files/service_conf/mail/nginx/static/*.svg linguist-detectable=false
roles/docker-compose_add/files/service_conf/monitoring/grafana/provisioning/dashboards/*.json linguist-detectable=false
*.yml linguist-detectable=true
*.yaml linguist-detectable=true