#!/usr/bin/python3
import requests
import urllib3
import sys
import time

urllib3.disable_warnings(urllib3.exceptions.InsecureRequestWarning)

services = { "rocketchat": "<symbol id=\"icon-hubot\" viewBox=\"0 0 20 20\" fill=\"currentColor\">",
             "elastic": "You Know, for Search",
             "kibana": "Loading Elastic",
             "alertmanager": "<title>Alertmanager</title>",
             "pushgateway": "<title>Prometheus Pushgateway</title>",
             "prometheus": "<title>Prometheus Time Series Collection and Processing Server</title>",
             "grafana": "<title>Grafana</title>",
             "gitlab": "GitLab Community Edition",
             "webmail": "Welcome to Roundcube Webmail",
             "admin": "to access the administration tools"
            }
elastic_pass = ('elastic', 'changeme')
failed_services = 0

time.sleep(180) # 3 minute delay -> Services need time to start

for service, response in services.items():
    if service in ["elastic", "kibana"]:
        r = requests.get('http://{{ ansible_default_ipv4.address }}/' + service, verify = False, auth =(elastic_pass[0], elastic_pass[1]))
    else:
        r = requests.get('http://{{ ansible_default_ipv4.address }}/' + service, verify = False)
    if response in r.text \
    and r.history[0].status_code == requests.codes.moved_permanently \
    and r.status_code == requests.codes.ok:
        print(f'{service} is working')
    else:
        print(f'{service} is not working')
        failed_services += 1

if failed_services != 0:
    print(f'{failed_services} services failed')
    sys.exit(1)
